@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: surah;
  src: url(/fonts/quran/sura_names.woff2);
}

body {
  background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 0, #fff 300px), fixed 0 0 / 20px 20px radial-gradient(#d1d1d1 1px, transparent 0), fixed 10px 10px / 20px 20px radial-gradient(#d1d1d1 1px, transparent 0);
}

h2 {
  font-size: 30px;
  border: 1px solid #F8F2DC70;
  border-radius: 25px;
  padding: 10px 30px;
  margin: 10px;
}

div,
span {
  font-size: 40px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  direction: rtl;
}

h3 {
  font-family: surah;
}